<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OCSimpleInjector.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC8FD16C1471AB6500477B80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC8FD1841471AB6500477B80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC8FD1B11471C67600477B80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC8FD1BF1471C67600477B80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC8FD1DF1471C84600477B80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC8FD1EC1471C84600477B80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
